<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>编辑部门</title>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/assets/css/admin.css"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
    <script src="/assets/js/echarts.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/js/dept-form.js"></script>

</head>

<body data-type="index">
<!--头部开始-->
<div th:replace="include/header :: header"></div>
<!--头部结束-->
<!--body开始-->
<div  class="tpl-page-container tpl-page-header-fixed">
    <!--菜单开始-->
    <div th:replace="include/menu::menu"></div>
    <!--菜单结束-->

    <!--main开始-->
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            编辑部门
        </div>
        <ol class="am-breadcrumb">
            <li><a href="/dept/page" class="am-icon-home">首页</a></li>
            <li class="am-active" >表单</li>
        </ol>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 部门
                </div>

            </div>
            <div class="tpl-block ">

                <div class="am-g tpl-amazeui-form">


                    <div class="am-u-sm-12 am-u-md-9">
                        <div class="am-form am-form-horizontal" >
                            <div class="am-form-group">
                                <div class="am-u-sm-9">
                                    <input type="hidden" name="id" id="id" th:value="${department.id}"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="name" class="am-u-sm-3 am-form-label">部门编码</label>
                                <div class="am-u-sm-9">
                                    <input type="text" name="name" id="name" th:disabled="${department.id}!=null" th:value="${department.name}"/>
                                    <small>保存后不可修改</small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="description" class="am-u-sm-3 am-form-label">部门名</label>
                                <div class="am-u-sm-9">
                                    <input type="text" name="description" id="description" th:value="${department.description}"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button th:onclick="'deptForm.submitForm(\''+(${department.id}==null?'POST':'PUT')+'\')'" class="am-btn am-btn-primary">提交</button>
                                    <a href="/dept/page"><button  class="am-btn am-btn-primary">返回</button></a>
                                </div>
                            </div>
                    </div>
                    </div>
                </div>
            </div>

        </div>










    </div>
    <!--main结束-->
</div>
<!--body结束-->



<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/iscroll.js"></script>
<script src="/assets/js/app.js"></script>
</body>

</html>